.Hoofdkopje {
  font-family: 'Oleo Script', cursive;
  font-size: 30px; 
  color: black;
  text-shadow: 3px 3px 6px rgba(94, 217, 255, 0.842);
  font-weight: normal;
}
#hoofdtitel {
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
  color: rgba(110, 168, 216, 0.842);
  text-shadow: 3px 3px 6px rgba(94, 217, 255, 0.842);
  text-align: center; 
}
p {
  font-family: 'Chelsea Market', cursive;
  color: black;
  text-shadow: 3px 3px 6px rgba(124, 94, 255, 0.842);
  font-size: 15px;
}
body {
  background-color: rgba(255, 196, 128, 0.336);
}
.Inhoud { 
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
.Hoofd {
  background-color: rgba(255, 255, 255, 0.705);
  width: 90px;
  padding: 25px;
  border-radius: 20px 0px 20px 0px;
  border: 3px solid black;
}
.Op {
  background-color: rgba(255, 190, 69, 0.74);
  width: 90px;
  padding: 25px;
  border-radius: 20px 0px 20px 0px;
  border: 3px solid rgba(255, 0, 0, 0.788);
}
.Bek {
  background-color: rgba(51, 255, 0, 0.342);
  width: 90px;
  padding: 25px;
  border-radius: 20px 0px 20px 0px;
  border: 3px solid rgba(255, 251, 0, 0.61);
}
.Trailer {
  background-color: rgba(128, 255, 249, 0.342);
  width: 90px;
  padding: 25px;
  border-radius: 20px 0px 20px 0px;
  border: 3px solid turquoise;
}
.Contact {
  background-color: rgba(219, 128, 255, 0.349);
  width: 90px;
  padding: 25px;
  border-radius: 20px 0px 20px 0px;
  border: 3px solid rgba(128, 168, 255, 0.342);
}
#TekstP {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color: black;
  text-shadow: 3px 3px 6px red;
  text-align: center;
}
#TekstB {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color: black;
  text-shadow: 3px 3px 6px yellow;
  text-align: center;
}
#TekstT {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color: black;
  text-shadow: 3px 3px 6px turquoise;
  text-align: center;
}
#TekstC {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color: black;
  text-shadow: 3px 3px 6px purple;
  text-align: center;
}
#TekstH {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color: black;
  text-shadow: 3px 3px 6px grey;
  text-align: center;
}
a {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color: black;
  text-shadow: 3px 3px 6px dodgerblue;
  text-align: center;
}
a:hover {
  font-size: 19.5px;
}
.Oprichter {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  color: rgba(110, 168, 216, 0.842);
  text-shadow: 3px 3px 6px rgba(94, 217, 255, 0.842);
  font-size: 35px;
}
#titelOp {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
  color: rgba(110, 168, 216, 0.842);
  text-shadow: 3px 3px 6px rgba(94, 217, 255, 0.842);
}
.kopjeOp {
  font-family: 'Oleo Script', cursive;
  font-size: 30px; 
  color: black;
  text-shadow: 3px 3px 6px rgba(94, 217, 255, 0.842);
  font-weight: normal;
}
.mickey:hover {
  color: rgb(84, 145, 145); 
  font-size: 15.5px;
}
.geendisney:hover {
  color: rgba(255, 0, 0, 0.692);
  text-shadow: 3px 3px 6px rosybrown;
  font-size: 15.5px;
}
.Bron {
  color: black;
  text-shadow: 3px 3px 6px rgba(124, 94, 255, 0.842);
}
#BekTitel {
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
  text-align: center; 
  color: rgba(110, 168, 216, 0.842);
  text-shadow: 3px 3px 6px rgba(94, 217, 255, 0.842);
}
.KopjeBek {
  font-family: 'Oleo Script', cursive;
  font-size: 30px; 
  color: black;
  text-shadow: 3px 3px 6px rgba(94, 217, 255, 0.842);
  font-weight: normal;
}
table.Top, td {
  border: 3px solid black;
  border-collapse: collapse;
  font-size: 20px; 
}
.speciale {
  background-color: blanchedalmond;
  color: black;
  text-shadow: 3px 3px 6px rgba(124, 94, 255, 0.842);
}
.tabel {
  background-color: blanchedalmond;
  color: darkorchid;
  text-shadow: 3px 3px 6px ivory;
}
.jaar {
  background-attachment: normal;
  background-color: honeydew;
  color: black;
  text-shadow: 3px 3px 6px rgba(124, 94, 255, 0.842);
}
.film {
  background-color: lavender;
  color: rgb(32, 25, 25);
  text-shadow: 3px 3px 6px grey;
}
td {
  background-color: cornsilk;
  color: rgb(32, 25, 25);
  text-shadow: 3px 3px 6px grey;
}
#bron2 {
  color: black;
  text-shadow: 3px 3px 6px rgba(124, 94, 255, 0.842);
  text-align: center;
}
#TitelTrailers {
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
  text-align: center; 
  color: rgba(110, 168, 216, 0.842);
  text-shadow: 3px 3px 6px rgba(94, 217, 255, 0.842);
}
.KopjeTrailers {
  font-family: 'Oleo Script', cursive;
  font-size: 30px; 
  color: black;
  text-shadow: 3px 3px 6px rgba(94, 217, 255, 0.842);
  font-weight: normal;
}
.HeadTrailers {
  font-family: 'Oleo Script', cursive;
  color: black;
  text-shadow: 3px 3px 6px rgba(94, 217, 255, 0.842);
  font-weight: normal;
  font-size: 22px;
}
.Persoon {
  font-size: 18.2px;
  font-family: 'Risque', cursive;
  color: rgba(85, 118, 145, 0.842);
  text-shadow: 3px 3px 6px rgba(94, 217, 255, 0.842);
}
.Persoon:hover {
  font-size: 18.5px;
  font-family: 'Risque', cursive;
  color: rgba(51, 147, 226, 0.842);
  text-shadow: 3px 3px 6px rgba(94, 217, 255, 0.842);
}
#ContTitel{
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
  text-align: center; 
  color: rgba(110, 168, 216, 0.842);
  text-shadow: 3px 3px 6px rgba(94, 217, 255, 0.842);
}
.ContKopje {
  font-family: 'Oleo Script', cursive;
  font-size: 30px; 
  color: black;
  text-shadow: 3px 3px 6px rgba(94, 217, 255, 0.842);
  font-weight: normal;
}